{% extends 'base.html' %}

{% load static %}

{% block scripts %}

  <script src="{% static 'main.js' %}" defer></script>

{% endblock scripts %}

{% block content %}


<div class="card">
  <div class="card-header">
    <strong>
    	{{ meeting.title }} 
	</strong>
  </div>
  <div class="card-body">



<p class="card-text">
<strong>Meeting start time and Date: </strong>{{ meeting.start_time|date:"M d, Y H:m:s" }}
</p><br>

<p class="card-text">
<strong>Meeting Duration: </strong>{{ meeting.duration }}
</p><br>

<p class="card-text">
<strong>INFO</strong>
<div><strong>{{meeting.title}} will take place on: </strong></div>
<div id="event-box">{{ meeting.start_time|date:"M d, Y H:m:s" }}</div><br>
<div><strong>Status/CountDown:</strong></div>
<div id="countdown-box">
  <div class="spinner-border" role="status"></div>
</div><br><br>
</p>

<p class="card-text">
    <strong>Join: </strong>
    <a href="{{meeting.join_link}}"><button type="button" class="btn btn-dark">Link to Join: <b>{{ meeting.title}}</b></button></a>
</p><br>

  </div>
</div>

<br/><br/>
<a href="{% url 'meeting_home' %}" class="btn btn-secondary">Back</a>

<a href="#" class="btn btn-secondary">Edit</a>
		

{% endblock content %}