{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<!-- Tab buttons -->
<ul class="nav nav-tabs" id="meetingTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="all-tab" data-toggle="tab" href="{% url 'meeting_home' %}" role="tab" aria-controls="all" aria-selected="false">All Meetings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="upcoming-tab" data-toggle="tab" href="{% url 'upcoming_meetings' %}" role="tab" aria-controls="upcoming" aria-selected="false">Upcoming Meetings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="past-tab" data-toggle="tab" href="{% url 'past_meetings' %}" role="tab" aria-controls="past" aria-selected="true">Past Meetings</a>
    </li>
  </ul>

<!-- Tab content -->
<div class="tab-content" id="meetingTabsContent">
  <!-- Upcoming Meetings Tab -->
  <div class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
    <table class="table table-striped table-hover table-bordered mt-3">
      <!-- Table headers -->
      <thead class="table-dark">
        <tr>
          <th scope="col">Meeting Name</th>
          <th scope="col">Start Time</th>
          <th scope="col">Duration</th>
          <th scope="col">Time Remaining</th>
          <th scope="col">Organizer</th>
          <!-- <th scope="col">Join Link</th> -->
        </tr>
      </thead>
      <tbody>
        <!-- Past Meetings Data -->
        {% for meeting in past_meetings %}
        <tr>
          <td><a href="{% url 'meeting_details' meeting.id %}">{{ meeting.title }}</a></td>
          <td>{{ meeting.start_time }}</td>
          <td>{{ meeting.duration }}</td>
          <td>{{ meeting.time_remaining }}</td>
          <td>{{ meeting.organizer }}</td>
          <!-- <td><a href="{{ meeting.join_link }}">Join</a></td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endif %}

{% endblock %}

<!-- {% block scripts %}
<script>

</script>
{% endblock %} -->
