{% if user.is_authenticated %}
<nav class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar " style="padding-top: 100px;">
  <div class="position-sticky">
    <ul class="nav flex-column">
      
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'home' %}">Dashboard</a>
      </li>
      <br>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'meeting_home' %}">Meetings</a>
      </li>
      <br>
      
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_details_page' user.id %}">Profile</a>
        </li>
        <br>

        {% if user.is_superuser or user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users_page'%}">Manage Users</a>
          </li>
          <br>
        {% endif %}

      
     
      <li class="nav-item btn-danger">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
{% endif %}