{% extends 'base.html' %}

{% load static %}

{% block scripts %}

  <script src="{% static 'main.js' %}" defer></script>

{% endblock scripts %}

{% block content %}

{% if user.is_authenticated %}

<!-- Tab buttons -->
<ul class="nav nav-tabs" id="meetingTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="all-tab" data-toggle="tab" href="{% url 'meeting_home' %}" role="tab" aria-controls="all" aria-selected="false">All Meetings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="upcoming-tab" data-toggle="tab" href="{% url 'upcoming_meetings' %}" role="tab" aria-controls="upcoming" aria-selected="true">Upcoming Meetings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="past-tab" data-toggle="tab" href="{% url 'past_meetings' %}" role="tab" aria-controls="past" aria-selected="false">Past Meetings</a>
    </li>
  </ul>

<!-- Tab content -->
<div class="tab-content" id="meetingTabsContent">
  <!-- Upcoming Meetings Tab -->
  <div class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
    <table class="table table-striped table-hover table-bordered mt-3">
      <!-- Table headers -->
      <thead class="table-dark">
        <tr>
          <th scope="col">Meeting Name</th>
          <th scope="col">Start Time</th>
          <th scope="col">Duration</th>
          <th scope="col">Time Remaining</th>
          <th scope="col">Organizer</th>
          <th scope="col">Join Link</th>
        </tr>
      </thead>
      <tbody>
        <!-- Upcoming Meetings Data -->
        {% for meeting in upcoming_meetings %}
        <tr>
          <td><a href="{% url 'meeting_details' meeting.id %}">{{ meeting.title }}</a></td>
          <td>
            <div id="event-box">{{ meeting.start_time|date:"M d, Y H:m:s" }}</div>
          </td>
          <td>{{ meeting.duration }}</td>
          <td>
            <div id="countdown-box">
              <div class="spinner-border" role="status" ></div>
            </div>
        </td> 
          <td>{{ meeting.organizer }}</td>
          <td><a href="{{ meeting.join_link }}">Join</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endif %}

{% endblock %}



