{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-header"><strong>
    	{{ user.first_name }} 
		{{ user.last_name }}</strong>
  </div>
  <div class="card-body">


<p class="card-text">
<strong>First Name: </strong>{{ user.first_name }}</p>

<p class="card-text">
  <strong>Last Name: </strong>{{ user.last_name }}</p>

<p class="card-text">
<strong>Email: </strong>{{ user.email }}</p>

<p class="card-text">
<strong>User ID: </strong>{{ user.id }}</p>
    
    
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% if user.is_superuser or user.is_staff %}
  <a href="{% url 'update_user' user.id %}" class="btn btn-secondary">Update Details</a>
{% endif %}
		

{% endblock %}